/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

/* Hero Section */
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Make overlay cover the entire width */
  height: 100%; /* Make overlay cover the entire height */
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to top */
  align-items: flex-start; /* Align text to the left */
  padding: 20px;
  text-align: left; /* Align text to the left */
}

.heroTitle {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust spacing between logo and title */
  margin-top: 10px; /* Move the logo/title higher */
}

.heroTitle h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.tagline {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #f4e242; /* Striking color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Enhance visibility */
  line-height: 1.2;
  letter-spacing: 1.2px;
}

.overlay p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  line-height: 1.8; /* Add line-height for better spacing */
  max-width: 600px; /* Limit width for readability */
  text-align: left;
  letter-spacing: 0.5px; /* Slight letter-spacing for clarity */
  margin-top: 0; /* Remove top margin */
}

.ctaButton {
  background-color: #ffffff;
  color: rgb(3, 69, 16);
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s, width 0.3s;
}

.ctaButton:hover {
  background-color: #403f3f;
  color: rgb(255, 255, 255);
  width: 120px; /* Slight increase in width on hover */
}
