/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

/* Hero Section */
.hero {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #2d2d2d;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 60px 40px;
  text-align: left;
  z-index: 1;
}

.heroTitle {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.heroTitle img {
  margin-right: 20px;
  margin-top: 20px;
}

.heroTitle h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

/* Tagline Styles */
.tagline {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 0;
  color: #ffffff;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
  line-height: 1.1;
  letter-spacing: 1.5px;
  display: block;
  max-width: 100%;
}

.bestNature,
.appEver {
  display: block;
  font-size: 3rem;
}

/* Subhead Lines */
.subTagline {
  font-size: 1.3rem;
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 1.6;
  max-width: 600px;
  color: white;
  text-align: center;
}

/* Individual Subhead Classes */
.demoText {
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

.natureText {
  font-size: 1.2rem;
  color: #ffffff;
  margin-top: 10px;
  font-weight: 400;
  display: block;
  letter-spacing: 0.5px;
  font-style: italic;
  margin-left: 0px;
}

/* CTA Button */
.ctaButton {
  background-color: #00C9A2;
  color: #ffffff;
  padding: 15px 40px;
  font-size: 1.4rem;
  border: none;
  border-radius: 50px;
  margin-top: 60px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.ctaButton:hover {
  background-color: #035343;
  transform: scale(1.05);
}

.ctaButton:focus {
  outline: none;
}

.rightImageWrapper {
  position: absolute;
  left: 62%;
  bottom: 0;
  width: 400px;
  z-index: 2;
  margin-top: 100px;
}

.rightImageContainer img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

/* Mission Statement Section */
.missionStatement {
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
  max-width: 900px;
  margin: 0 auto; /* Center the mission statement on the page */
  padding: 20px;
}

.missionStatement h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0 auto; /* Center the heading */
  text-align: center;
}

.missionStatement p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ffffff;
  max-width: 600px;
  margin: 20px auto; /* Center the paragraph text */
  text-align: center;
}

/* Features Section */
.features {
  padding: 30px 20px;
  text-align: center;
  background-color: #0e0e0e;
}

.features h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.infoCards {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 8px;
  text-align: center;
}

.card p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ffffff;
  max-width: 300px;
  margin: 0 auto;
  text-align: left;
}

.card img {
  width: 125px; /* Default size for icons */
  height: 125px;
  margin-bottom: 15px;
}

/* Footer Section */
.footer {
  background: #FCE4B6;
  color: rgb(0, 0, 0);
  padding: 30px 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-contact,
.footer-social {
  text-align: left;
}

.footer-contact h3,
.footer-social h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.footer-contact p,
.footer-social p {
  font-size: 1rem;
  margin: 5px 0;
}

.footer-contact p a,
.footer-social p a {
  text-decoration: none;
  color: black;
}

.contact-icon,
.social-icon {
  margin-right: 10px;
}

/* Core Values Section */
.coreValues {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Reduced gap */
  padding: 20px;
  margin-bottom: 80px;
}

.valueCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 500px; /* Reduced gap */
  margin-bottom: 60px;
}

.value {
  text-align: center;
  font-size: 25px;
  margin-bottom: 60px;
}

.textContent {
  flex: 1;
  padding: 10px;
}

.textContent h3 {
  color: #00C9A2;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.textContent p {
  font-size: 1.1rem;
  color: #555;
}

.imageContent img {
  max-width: 220px;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
  }

  .imageWrapper {
    width: 100%;
    height: 60%;
  }

  .overlay {
    padding: 40px 30px;
  }

  .heroTitle h1 {
    font-size: 1.8rem;
  }

  .tagline {
    font-size: 4.5rem;
  }

  .subTagline {
    font-size: 1.2rem;
  }

  .ctaButton {
    font-size: 1.2rem;
    padding: 12px 30px;
  }

  .rightImageWrapper {
    position: absolute;
    left: 50%;
    bottom: 10%;
    width: 70%;
    margin-top: 0;
    transform: translateX(-50%);
  }

  .missionStatement h1 {
    font-size: 1.8rem;
  }

  .missionStatement p {
    font-size: 0.95rem;
  }

  .features h2 {
    font-size: 2.2rem;
  }

  .infoCards {
    flex-direction: column;
    gap: 20px;
  }

  .card img {
    width: 100px;
    height: 100px;
  }

  .coreValues {
    gap: 10px; /* Further reduced gap */
  }

  .valueCard {
    gap: 20px; /* Further reduced gap */
  }

  .value {
    font-size: 22px;
  }

  .textContent h3 {
    font-size: 1.5rem;
  }

  .textContent p {
    font-size: 1rem;
  }

  .imageContent img {
    max-width: 180px;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 80vh;
  }

  .tagline {
    font-size: 3.5rem;
  }

  .ctaButton {
    font-size: 1.1rem;
    padding: 10px 25px;
  }

  .rightImageWrapper {
    position: absolute;
    bottom: 10%;
    width: 80%;
    margin-top: 0;
  }

  .missionStatement {
    padding: 15px;
  }

  .features h2 {
    font-size: 2rem;
  }

  .card img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 480px) {
  .hero {
    height: 70vh;
  }

  .overlay {
    padding: 20px;
  }

  .tagline {
    font-size: 3rem;
  }

  .ctaButton {
    font-size: 1rem;
    padding: 8px 20px;
  }

  .rightImageWrapper {
    position: absolute;
    left: 50%;
    bottom: 10%;
    width: 80%;
    margin-top: 0;
    transform: translateX(-50%);
  }

  .missionStatement h1 {
    font-size: 1.5rem;
  }

  .missionStatement p {
    font-size: 0.9rem;
  }

  .coreValues {
    gap: 20px; /* Reduced gap for small screens */
    padding: 10px;
  }

  .valueCard {
    gap: 20px; /* Reduced gap for small screens */
  }

  .value {
    font-size: 20px;
  }

  .card img {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 430px) {
  .coreValues {
    gap: 15px; /* Further reduced gap for very small screens */
    padding: 15px;
  }

  .valueCard {
    gap: 15px; /* Further reduced gap */
  }

  .value {
    font-size: 18px;
  }

  .textContent h3 {
    font-size: 1.6rem;
  }

  .textContent p {
    font-size: 1rem;
  }

  .imageContent img {
    max-width: 180px;
  }
}
